{# >>> Comp Settings #}
{% set compDefaults = {
  data: {
    name: 's-text',
    text: '',
    alignment: 'left',
  },
  classes: {
    root: 'container m-top-md',
    custom: '',
  },
} %}

{# >>> Merge data / classes #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.text %}
  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    <div class="col-span-full {{ props.data.alignment == 'center' ? 'mx-auto' }}">
      {{ include('_components/text/text.twig', {
        data: {
          text: props.data.text,
          raw: true,
          alignment: props.data.alignment,
        },
        classes: {
          custom: 'col-span-full ',
        }
      }, with_context = false) }}
    </div>
  </div>
{% endif %}
