{# >>> Comp Settings #}
{% set compDefaults = {
  data: {
    name: 'c-link',
    link: null,
    linkStyle: 'primary',
    tag: 'a',
    align: 'left',
  },
  classes: {
    root: 'relative inline-block transition duration-300 ease-out hover:ease-in rounded',
    custom: '',
  },
  variants: {
    style: {
      primary: 'bg-black hover:bg-white text-white hover:text-black border-black border-2',
      link: 'underline hover:text-error',
    },
    size: {
      base: 'py-3 px-6',
      link: '',
      big: '',
    },
    align: {
      left: 'text-left',
      center: 'text-center',
      right: 'text-right',
    }
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
  variants: compDefaults.variants,
} %}

{# -- Read native Craft 5 Link field props -- #}
{% set linkUrl = props.data.link.url ??? '' %}
{% set linkText = props.data.link.label ??? '' %}
{% set linkTarget = props.data.link.target ??? '' %}

{# -- Set the Tag -- #}
{% set tag = props.data.tag %}

{% if linkText and linkUrl %}
  <div class="{{ props.data.name }} {{ props.variants.align[props.data.align] }} {{ props.classes.custom }}">
    <{{ tag }} href="{{ linkUrl }}"{% if linkTarget %} target="{{ linkTarget }}"{% endif %}
    class="{{ props.classes.root }} {{ props.variants.align[props.data.align] }} {{ props.variants.style[props.data.linkStyle] }} {{ props.data.linkStyle == 'link' ? props.variants.size.link : props.variants.size.base }}
    ">
    {{ linkText }}
    </{{ tag }}>
  </div>
{% endif %}
