{# >>> Comp Settings #}
{% set props = defineProps(_context,
  embed='embedAccordion',
  data={
    headline: '',
    embedData: null,
    optional: {
      statusSwitch: null,
    }
  },
  classes={
    root: 'group',
    summary: 'flex items-center justify-between cursor-pointer border-t border-black py-4 lg:py-6 group-open:text-primary hover:text-primary',
    iconStyle: 'group-open:rotate-180 rotate-0 transform transition-all duration-300',
  },
) %}

{% if props.data.headline %}
  <details class="{{ props.classes.root }}" {{ props.data.statusSwitch ? 'open' }}>
    <summary class="{{ props.classes.summary }}">
      <span>{{ props.data.headline }}</span>
      {{ include('_components/icon/icon.twig', {
        data: {
          name: 'chevron',
        },
        variants: {
          size: 'auto',
        },
        classes: {
          root: props.classes.iconStyle,
        }
      }, with_context = false) }}
    </summary>
    <div aria-live="polite">
      {% block contentAccordion %}
      {% endblock %}
    </div>
  </details>
{% endif %}
