{# >>> Comp Settings #}
{% set props = defineProps(_context,
  section='globalStyleOverview',
  data={
    optional: {
      shouldShow: true,
    }
  },
  classes={
    root: 'container',
    mainHeadlines: 'mt-10 block font-bold',
    subHeadlines: 'mt-6 mb-2 block',
  }
) %}

{% if props.data.shouldShow %}
  {# TODO: Add correct values to all vars #}
  {% set fontsArr = ['font-sans', 'font-serif'] %}
  {% set headlineArr = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'] %}
  {% set textArr = ['base', 'large'] %}
  {% set fontsizeArr = ['text-xs', 'text-sm', 'text-base', 'text-lg', 'text-xl', 'text-2xl', 'text-3xl', 'text-4xl', 'text-5xl', 'text-6xl', 'text-7xl', 'text-8xl', 'text-9xl'] %}
  {% set colorArr = ['bg-black', 'bg-white', 'bg-primary', 'bg-secondary', 'bg-error', 'bg-success'] %}
  {% set buttonArr = ['primary', 'secondary', 'link'] %}

  <div class="{{ props.classes.root }} ">
    <div class="col-span-full">

      {# ---- Overview of all Font Families ---- #}
      <span class="{{ props.classes.mainHeadlines }}">Fonts</span>
      {% for font in fontsArr %}
        <span class="{{ props.classes.mainHeadlines }}">{{ font }}:</span>
        <p class="{{ font }}">The quick brown fredmansky jumps over the lazy developer.</p>
      {% endfor %}

      {# ---- Overview of all Headline Styles ---- #}
      <span class="{{ props.classes.mainHeadlines }}">Headlines</span>
      {% for headlineStyle in headlineArr %}
        <span class="{{ props.classes.mainHeadlines }}">{{ headlineStyle }}:</span>
        {{ include('_components/headline/headline.twig', {
          data: {
            text: 'The quick brown fredmansky jumps over the lazy developer.',
          },
          variants: {
            size: headlineStyle,
          }
        }, with_context = false) }}
      {% endfor %}

      {# ---- Overview of all Text Styles ---- #}
      <span class="{{ props.classes.mainHeadlines }}">Body Styles</span>
      {% for textStyle in textArr %}
        <span class="{{ props.classes.mainHeadlines }}">{{ textStyle }}:</span>
        {{ include('_components/text/text.twig', {
          data: {
            text: 'The quick brown fredmansky jumps over the lazy developer. That is an English-language pangram – a
          sentence that contains all the letters of the alphabet. The phrase is commonly used for testing typewriters
          and computer keyboards, displaying examples of fonts, and other applications at fredmansky.',
          },
          variants: {
            size: textStyle,
          }
        }, with_context = false) }}
      {% endfor %}

      {# ---- Overview of all Font Sizes ---- #}
      <span class="{{ props.classes.mainHeadlines }}">All Font Sizes</span>
      {% for fontsize in fontsizeArr %}
        <span class="{{ props.classes.mainHeadlines }}">{{ fontsize }}:</span>
        <p class="{{ fontsize }}">The quick brown fredmansky jumps over the lazy developer.</p>
      {% endfor %}

      {# ---- Overview of all Colors ---- #}
      <span class="{{ props.classes.mainHeadlines }} mb-2">Colors:</span>
      <div class=" w-full flex gap-4">
        {% for color in colorArr %}
          <div class="{{ color }} h-40 aspect-square flex items-center justify-center">
            <span>{{ color }}</span>
          </div>
        {% endfor %}
      </div>

      {# ---- Overview of all Button Styles ---- #}
      <span class="{{ props.classes.mainHeadlines }}">All Button Variants</span>
      {% for buttonStyle in buttonArr %}
        <span class="{{ props.classes.mainHeadlines }}">{{ buttonStyle }}:</span>
        {{ include('_components/linkButton/linkButton.twig', {
          data: {
            link: {
              url: 'https://fredmansky.at',
              text: 'Test Button',
              target: '_blank',
            },
          },
          variants: {
            style: buttonStyle,
          },
        }, with_context = false) }}
      {% endfor %}
    </div>
  </div>
{% endif %}
