{% extends "_layouts/_layout-base.twig" %}

{% set globals = craft.entries.section('globals').eagerly().one() %}
{% set heroImage = entry.hero.image.eagerly().one() ??? null %}
{% set navigationTheme = navigationTheme ??? (heroImage ? 'overlay' : 'light') %}

{% block body %}
  {% block navigation %}
    {{ include('_components/navigation/navigation.twig', {
      data: {
        theme: navigationTheme,
        nodes: globals.navigationsLinks.fixedOrder().eagerly().all()|map(l => {
          url: l.getUrl(),
          title: l.title,
        }),
        button: globals.navigationButton,
      },
    }, with_context = false) }}
  {% endblock %}

  <main id="main" class="flex flex-col">
    {% block hero %}
      {{ include('_sections/hero/hero.twig', {
        data: {
          image: heroImage,
          headline: entry.hero.headline ??? entry.title ??? '',
          text: entry.hero.text ??? '',
          link: entry.hero.linkBase ??? null,
        },
      }, with_context = false) }}
    {% endblock %}

    {% block content %}
      <div class="relative z-10 grow bg-white flow-root p-bottom-lg">
        {{ include('_contentBuilder/contentBuilder.twig', {
          data: {
            contentQuery: entry.contentBuilder ??? null,
          },
        }, with_context = false) }}
      </div>
    {% endblock %}

    {% if getenv('CRAFT_ENVIRONMENT') != "production" %}
      {{ include('_components/gridOverlay/gridOverlay.twig') }}
    {% endif %}
  </main>

  {% block footer %}
    <div class="relative z-10 bg-cream-50 flow-root">
      {{ include('_components/footer/footer.twig', {
        data: {
          address: globals.address ??? null,
          email: globals.eMail ??? null,
          telephone: globals.telephone ??? null,
          quickLinks: globals.footerQuickLinks.fixedOrder().eagerly().all()|map(l => {
            url: l.getUrl(),
            title: l.title,
          }),
          legalLinks: globals.footerLegalLinks.fixedOrder().eagerly().all()|map(l => {
            url: l.getUrl(),
            title: l.title,
          }),
          legalText: globals.footerLegalText ??? '',
        },
      }, with_context = false) }}
    </div>
  {% endblock %}
{% endblock %}
